

.header-lg{
    font-family: 'Poppins';
    font-size: 4rem;
    font-weight: 700;
}

.header-md{
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: 400;
}

p, a{
    font-family: 'Roboto';

}

.nav{
    font-family: '';
}

.container-fluid{
    padding: 7% 15%;
}